.root {
	-fx-background-color: #E5E5E5;
	-fx-background-size: cover;
}

.button {
	-fx-text-fill: #FFFFFF;
	-fx-font-family: "Avenir";
	-fx-background-color: linear-gradient(#A10000, #7E0000);
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	-fx-font-size: 14px;
}

.button:hover{
	-fx-font-weight:bold;
}

.label {
	-fx-text-fill: #A10000;
	-fx-font-family: "Avenir";
	-fx-font-size: 14px;
	-fx-font-weight:bold;
}